@import 'config';

/* Sequoia */
#sequoia-tree {
  position: relative;
}

.sequoia {

  width: 100%;

  /* Search */
  .sequoia-search {
    @include clearfix;
    @extend %base-padding;

    @media (min-width: $screen-sm) {
      .sequoia-search-form,
      .sequoia-actions,
      input[type="text"],
      .sequoia-search-form a {
        float: left;
      }
    }

    .sequoia-search-form {
      @include clearfix;

      display: block;

      a {
        margin-left: 10px;
      }

      @media (min-width: $screen-sm) {
        width: 80%;
      }
    }

    .sequoia-actions {
      display: block;

      ul {
        @extend %list-unstyled;
      }

      @media (min-width: $screen-sm) {
        width: 20%;
      }
    }
  }

  /* Breadcrumbs */
  .sequoia-breadcrumbs {
    @extend %list-unstyled;

    margin-left: 10px;

    li {
      padding-right: 0;

      &:after {
        content: ' »';
      }

      &:last-child:after {
        content: '';
      }
    }
  }

  /* Tree */
  .sequoia-tree {
    list-style-type: none;
    margin-left: -10px;
    padding-left: 0;

    li {
      @include clearfix;
      @extend %base-padding;

      border-bottom: 1px solid lighten($sequoia-gray, 30);
    }

    .sequoia-item-actions {
      margin-left: 10px;
    }

    @media (min-width: $screen-sm) {
      .sequoia-item-title,
      .sequoia-item-actions {
        margin-left: 0;
        float: left;
      }
    }

    .sequoia-item-title {
      @extend %form-padding;

      display: block;

      @media (min-width: $screen-sm) {
        width: 80%;
      }
    }


    .sequoia-item-actions {
      display: block;
      @media (min-width: $screen-sm) {
        width: 20%;
      }
    }
  }

  /* Buttons */
  .sequoia-button {
    @extend %base-button;

    $colors: (primary: $sequoia-primary, success: $sequoia-success, danger: $sequoia-danger, info: $sequoia-info, warning: $sequoia-warning, default: $sequoia-gray);

    @each $color, $sequoia-color in $colors {
      &.sequoia-button-#{$color} {
        background-color: $sequoia-color;
        color: #fff;

        &:hover {
          background-color: darken($sequoia-color, 10);
          border-color: darken($sequoia-color, 10);
        }

      }
    }
  }

  input[type="text"] {
    @extend %form-padding;

    border: 1px solid lighten($sequoia-gray, 30);
    border-radius: $border-radius;
    width: 90%;
  }

  .help-text {
    font-size: 11px;
    color: $sequoia-gray;
    margin: 5px 0px;

    &.has-error {
      color: $sequoia-danger;
    }
  }

  .as-sortable-dragging {
    background-color: lighten($sequoia-info, 40);
    border: 1px dotted lighten($sequoia-info, 30);
  }

}
