<div class="sequoia" data-ng-show="tree.tree.length">

  <div class="sequoia-modal-container" data-ng-if="modal">
    <a href="" class="sequoia-button sequoia-button-info" data-ng-click="showModal()" data-ng-bind="model.length ? 'Select (' + model.length + ')' : 'Select'"></a>
    <div class="sequoia-overlay" data-ng-show="modalShown"></div>
    <div class="sequoia-modal" data-ng-show="modalShown">
      <div data-ng-include="'sequoia-tree.html'"></div>
    </div>
  </div>

  <div data-ng-if="!modal">
    <div data-ng-include="'sequoia-tree.html'"></div>
  </div>

</div>
