<span data-ng-if="isSelected(node)">
  <a class="sequoia-button sequoia-button-danger" href="" title="Deselect" data-ng-click="deselect(node)" data-ng-bind-html="buttons.deselect"></a>
</span>

<span data-ng-if="!isSelected(node)">
  <a class="sequoia-button sequoia-button-primary" href="" title="Select" data-ng-click="select(node)" data-ng-bind-html="buttons.select"></a>
</span>

<span data-ng-if="node[tree.template.nodes] && node[tree.template.nodes].length">
  <a class="sequoia-button sequoia-button-info" href="" title="Go to subitems" data-ng-click="load(node)" data-ng-bind-html="buttons.goToSubitems"></a>
</span>
